body {
    font-family: "Montserrat", sans-serif;
}

/* Header */
header {
    text-align: center;
}

header figcaption {
    padding: 30px;
    background-color: rgb(245, 237, 227);
    border-top: 2px solid rgb(240, 209, 172);
    color: rgb(37, 88, 71);
}

header figcaption span {
    text-transform: uppercase;

}

/* Main*/

#struttura {
    width: 750px;
    margin: auto;
}

#articolo_uno h1 {
    text-align: center;
    margin-top: 40px;
}

/* sezione Video che è diventata immagine */

#video {
    text-align: center;
}

#video img {
    display: inline-block;
    border-radius: 20px;
}


#video figcaption {
    text-align: center;
    color: gray;
    margin: 20px 20px;
}

/*Fine sezione video */
#Testo_sp {
    text-transform: uppercase;
    color: chocolate;

}

#contenuto_uno p {
    margin: 0;
    border-left: 2px solid rgb(240, 209, 172);
    padding-left: 10px;
}

#Testo_sotto {
    text-decoration: underline;
    color: rgb(67, 105, 92);
}

/*LIste*/
.titolo_m {

    margin-top: 50px 0px;
    border-bottom: 2px solid rgb(67, 105, 92);

}

.lista li {
    margin-bottom: 1em;
}







/*Footer*/


footer {
    margin-top: 20px;
    margin-bottom: 50px;

}

footer a {
    color: rgb(67, 105, 92);
}

a:hover {
    color: brown;
    text-transform: uppercase;

}