/* IMPOSTAZIONI GENERALI */

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;/
   }

  

#corpo {
    margin: auto;
    max-width: 700px;
    min-width: 400px;
    width: 100%;
padding: 50px;


}



h1, h2, h3, h4, h5, h6 {

    font-weight: bold;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#corpo {
    text-align: center;
}

.figlio {
    display: block;

    margin-bottom: 40px
}



/* HEADER */
header {
    background: rgb(58, 75, 180);
    background: linear-gradient(180deg, rgba(58, 75, 180, 1) 17%, rgba(60, 201, 180, 1) 100%);
    text-align: center;
    box-shadow: 5px 10px 5px gray;
    padding-top: 30px;
    padding-bottom: 30px;
}


header a {
    color: white;
    text-decoration: none;
}

header {
    border-radius: 10px;
}


/* MAIN */
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 10px 5px gray;
padding: 5em;


}


/* ELEMENTI NEL MAIN - ARTICLE */
p {
    text-align: left;
}

article h1{font-size: 2em;}

.elemento-s {
    background-color: gray;
    border-radius: 2px;
    color: white;
}

.sottolineatura {
    color: violet;
    font: bold;
}
#lista-d
ol{
    list-style: decimal;
}


#lista-u ul{
    list-style: circle;
}

.lista{padding: 2em;}


/* TABELLE */

.tabella {
    border-collapse: collapse;
    width: 100%;
padding: 2em;
}

.tabella th, .tabella td {
    border: 1px solid #ddd;
    padding: 8px;
}

.tabella th {
    background-color: #3498db;
}

.tabella tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabella tbody tr:nth-child(odd) {
    background-color: #fff;
}

tr:last-child td {
    border-bottom: 2px solid lightblue;
}
/* sezione */
iframe{border-radius: 10px;}


/* FORM */
#email-u{background-color: rgb(189, 184, 184);
border-radius: 10px;
padding: 1em;
}
#email-u h3{font-size: 2em;}

/* ELEMENTI NELL' ASIDE */
aside{padding: 2em;
}
.correlato {
    
    height: 100px;
    background-color:rgb(189, 184, 184);
    border-radius: 10px;
width: 100%;
text-align: left;
margin-bottom: 1em;
padding-left: 1em;
padding-right: 1em;
}
.pt{text-align: right;}

.correlato a { color: rgb(0, 102, 255);}
 

/* FOOTER */
footer {
    background: rgb(58, 75, 180);
    background: linear-gradient(180deg, rgba(58, 75, 180, 1) 17%, rgba(60, 201, 180, 1) 100%);
    border-radius: 10px;
    box-shadow: 5px 10px 5px gray;
padding: 3em;

}
address a{color: rgb(238, 41, 238);
font-weight: bold;


}